<!DOCTYPE html>
<html lang="ko">
<head>
<style type="text/css">
</style>
    <style>
		h1 { text-align: center; }
		h2 { text-align: center; }

	</style>
  <title> 가산 최고의 맛집 | 맛집검색 얌슐랭</title>
</head>
<body>
    <h1> 가산 맛집 모여라 </h1>
    <h2> <input >
        <button> 검색 </button>
    </h2>
<style type="text/css">
.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertic
</body>
</html>
