
<body>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

<br><br>

<div class='row'>
  <div class='col-sm-1'></div>
  <div class='col-sm-3'>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-oe15{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-wk8r{background-color:#ffffff;border-color:#ffffff;text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 323px">
<colgroup>
<col style="width: 27px">
<col style="width: 269px">
<col style="width: 27px">
</colgroup>
<thead>
  <tr>
    <th class="tg-wk8r" colspan="3">오늘의 인기메뉴 top5</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-oe15" rowspan="3"></td>
    <td class="tg-oe15">
        1. <a href=""> 닭발 </a>
    </td>
    <td class="tg-oe15" rowspan="3"></td>
  </tr>
  <tr>
    <td class="tg-oe15">
        2. <a href=""> 피자 </a>
    </td>
  </tr>
  <tr>
    <td class="tg-oe15">
        3. <a href=""> 곰탕 </a>
    </td>
  </tr>
  <tr>
    <td class="tg-oe15" colspan="3"></td>
  </tr>
</tbody>
</table>
  </div>
  <div class='col-sm-1'></div>
  <div class='col-sm-5'> <br><br><br><br>
    <dialog ></dialog>
      <input text="" size="30" >
      <button onclick=""> 검색 </button>
  </div>



<div class='row'>
  <div class='col-sm-2'>1</div>
  <div class='col-sm-8'>
     <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-zv4m{border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-8jgo{border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-il3a{border-color:#ffffff;color:#ffffff;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-zv4m" colspan="9">최근 올라온 게시물</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-il3a"></td>
    <td class="tg-8jgo">게시물</td>
    <td class="tg-zv4m"></td>
    <td class="tg-8jgo">게시물</td>
    <td class="tg-zv4m"></td>
    <td class="tg-8jgo">게시물</td>
    <td class="tg-zv4m"></td>
    <td class="tg-8jgo">게시물</td>
    <td class="tg-zv4m"></td>
  </tr>
  <tr>
    <td class="tg-il3a" colspan="9"></td>
  </tr>
</tbody>
</table>
  </div>

<br><br><br><br><br><br><br><br>
    <div class='row'>
  <div class='col-sm-2'>1</div>
  <div class='col-sm-8'>
     <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-zv4m{border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-8jgo{border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-il3a{border-color:#ffffff;color:#ffffff;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-zv4m" colspan="9">최근 올라온 게시물</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-il3a"></td>
    <td class="tg-8jgo">게시물</td>
    <td class="tg-zv4m"></td>
    <td class="tg-8jgo">게시물</td>
    <td class="tg-zv4m"></td>
    <td class="tg-8jgo">게시물</td>
    <td class="tg-zv4m"></td>
    <td class="tg-8jgo">게시물</td>
    <td class="tg-zv4m"></td>
  </tr>
  <tr>
    <td class="tg-il3a" colspan="9"></td>
  </tr>
</tbody>
</table>
  </div>

</div>
</div>
</body>
</html>



